<div class="link-container">  
    <%= link_to user do %>
        <div class="user">
            <div class="image_frame">
                <%# <%= image_tag "#{user.photo}", class:"prof_pic" %>
            </div>
            <div class="details_pane">
                <div class="name"><%= user.name %></div>
                <div class="posts_counter"><span>Number of posts:</span> <%= user.posts_counter %></div>
            </div>
        </div>
    <% end %>
</div>
    
