<div id="<%= dom_id user %>">
  <%# <p>
    <strong>Picture:</strong>
    <%= image_tag(user.picture_url, width: 600) if user.picture.present? 
  </p> %>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.bio %>
  </p>

</div>