here we are, show page

<div>
    <% @comments.each do |comment| %>
        <%= comment.post.title %>
    <% end %>
</div>

<div>
    <% @comments.each do |comment|  %>
        <%= comment.author.name %>
        <%= comment.text %>
    <% end %>
</div>

