@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap');

/*     font-family: 'Montserrat', sans-serif; */

/* normalize */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 12px;
  box-sizing: border-box;
}

div.wrapper {
  display:grid;
}

.navbar{
  display:flex;
  background-color: blue;
  width:100vw;
  height:70px;
  line-height: 70px;
  padding:0 10%;
  border-radius: 0 0 10px 10px;
  margin-bottom:20px;
}

.user-name {
  color:white;
  font-size:20px;
  font-weight: 700;
  margin-right:auto;
}

ul.nav-list {
  display: flex;
}

ul.nav-list li {
  list-style: none;
  margin: 0 10px;
  font-size:15px;
  font-weight: 300;
  color:white;
  cursor:pointer;
}

.link-container {
  width:50%;
  margin:10px auto;
  box-shadow:0 0 1px 0 #888888;
}

.user {
  display:flex;
  flex-direction:row;
  width:100%;
  min-height:200px;
}

.image_frame {
  padding: 4px 4px 0 4px;
  width:300px;
}

.prof_pic {
  border-radius:5px;
}

/* user detail pane */
.details_pane {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding:10px 20px;
}

div.posts_counter {
  align-self: flex-end;
  -webkit-text-stroke-width: .1em;
}

div.name {
  font-size: 30px;
}