 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap');
 /*     font-family: 'Montserrat', sans-serif; */

 /* normalize */
 *{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 12px;
 }

 .wrapper {
    margin-top: 10px;
 }

 .users_list {
    font-size: 34px;
    text-align: center;
 }

 /* set flex display */
.posts_counter, .user_name, .user_group, .user_info, .bio, .posts, .post, .counters {
    display:flex;
 }

 /* groups .user_avatar & .user_info divs */
 .user_group {
    justify-content: center;
    column-gap:2%;
 }

 /* user-icon div */
 .user_avatar {
    width:150px;
 }

 .avatar {
    width:100%;
 }

 /* user information on users page */
 .user_info {
    justify-content: space-between;
    width: 60%;
    background-color: #d9eeae;
    padding: 5px 10px;
 }

 /* user name styles */
 .user_name {
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-weight: 700;
    align-items:center;
 }

 .posts_counter {
    align-items:flex-end;
 }

 /* add padding between Number of posts & posts count value */
 .spacer{
    padding-right:5px;
 }

 /* bio div */
 .bio {
    margin:15px 0;
    justify-content: center;
 }

 .bio div {
    width:calc(63.5% + 150px);
    font-weight: 400;
    font-size: 15px;
    color:blue;
 }

 /* posts  */

 .posts {
    flex-direction:column;
    align-items:center;
 }

 .post {
    width:calc(63.5% + 150px);
    flex-direction:column;
    margin-bottom:15px;
 }

 .post_title {
    font-size:24px;
    font-size: 400;
    color:blueviolet;
 }

 .post_body {
    font-size:18px;
    margin-top: 2px;
 }

 .counters {
    justify-content: flex-end;
 }

 .counters span{
    color:blue;
 }

 .comments_counter {
    margin-right:15px;
 }



 @media only screen and (max-width: 600px) {

    .user_info {
        flex-direction: column;
        justify-content:flex-start;
        row-gap:10px;
     }

     .bio div {
        width:100%;
        padding: 1%;
     }


    

 }


